<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" />
  <package id="Microsoft.ML" version="4.0.1" manuallyInstalled="true" />
  <package id="Microsoft.ML.CpuMath" version="4.0.1" />
  <package id="Microsoft.ML.DataView" version="4.0.1" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.20.1" manuallyInstalled="true" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.20.1" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.CodeDom" version="8.0.0" />
  <package id="System.Collections.Immutable" version="8.0.0" />
  <package id="System.Numerics.Tensors" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>